

@keyframes rotate {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}



@keyframes wordsloop {
	0% {
		transform: translateX(11%);
	}

	100% {
		transform: translateX(-40%);
	}
}
