@font-face {
  font-family: "标小智无界黑";
  src: url(/assets/fonts/标小智无界黑.ttf);
}
.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4rem 0 18rem 0;
  padding: 5rem 5rem;
  text-align: center;
}
.table {
  position: relative;
  height: 100%;
  border: none;
  color: rgba(255, 255, 255, 0);
}
.table tr td {
  height: 8rem;
  padding: 1rem 1.2rem;
  vertical-align: middle;
  text-align: center;
}
.main-text1 p,
.main-text2 p {
  font-family: "标小智无界黑";
  font-size: 8rem;
  color: #6a50ff;
  line-height: 1;
}
.time {
  display: flex;
  justify-content: center;
}
.time .figure {
  float: left;
  height: 15rem;
  width: 11rem;
  margin: 0.8rem;
  background-color: #6a50ff;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 0 0.2rem #e0ff70;
}
.time .figure > span {
  display: inline-block;
  position: relative;
  top: -0.5rem;
  margin: 0;
  font-size: 10rem;
  font-family: "标小智无界黑";
  color: white;
}
